node_modules
# Keep environment variables out of version control
.env
.vscode
jmeter.log
testResults.jtl
/report
/cypress/videos
/cypress/screenshots
/cypress/reports
/testResults.jtl
error_screenshot.png
# stryker temp files
.stryker-tmp
